
.glavno{
    outline: 5px solid white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 512px;
}
div{
    background-color: white;
}
select, button, label{
    font-family: "Roboto";font-size: large;
    font-weight: bold;
}
.d-table{
    display: table;
}
.d-table-cell{
    display: table-cell;
}
.tgt{
    text-align: right;
}
.crtam{
    display: none;
}